name: pymc-extras
channels:
- conda-forge
- nodefaults
dependencies:
  - pymc>=5.21.1
  - scikit-learn
  - better-optimize
  - dask<2025.1.1
  - xhistogram
  - statsmodels
  - numba
  - pytest
  - pytest-cov
  - libgcc<15
  - pip
  - pip:
      - jax
      - blackjax
